html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;

}

body {
  background-color: seagreen;
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
color: whitesmoke;
margin: 0;
height: 100vh;
display: grid;
grid-template-columns: 25% 50% 25%;
grid-template-rows: 25% 50% 25%;
grid-template-areas: 
'. messages .'
'. play-area ship-bank'
'. buttons .'
;
}

section.play-area{
  grid-area: play-area;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent ;
}

section.ship-board{
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(10, 3vmin);
  grid-template-columns: repeat(10, 3vmin);
  border: 2px solid black;
}

section.ship-bank{
  background-color: transparent;
  color: black;
  grid-area: ship-bank;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.button{
  margin: 2vw
}

section#buttons{
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

section#bank-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  min-width: 15vw;
  min-height: 20vh;

}

.square {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  color: ivory;
  font-family: 'Happy Monkey', sans-serif;
  
}

#pt, #sub, #cru, #bat, #car{
  font-size: 1.5vmin;
  background-color: darkgray;
  height: 2vmin;
}

#pt{
  width: 6vmin;
  border-radius: 25%;
}

#sub{
  width: 9vmin;
  border-radius: 35%;
}

#cru{
  width: 9vmin;
  border-radius: 25%;
}

#bat{
  width: 12vmin;
  border-radius: 35%;
}

#car{
  width: 15vmin;
  border-radius: 20%;
}



