html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;

}

body {
  background-color: deepskyblue;
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
color: whitesmoke;
margin: 0;
height: 100vh;
display: grid;
grid-template-columns: 25% 50% 25%;
grid-template-rows: 10% 5% 5% 5% 50% 25%;
grid-template-areas: 
'. h1 .'
'. h2 .'
'. h3 .'
'. . .'
'. play-area ship-bank'
'leftbuttons midbuttons rgtbuttons'
;
justify-content: center;
align-items: center;
text-align: center;
}

[hidden]{
  display: none !important;
}

section.play-area{
  grid-area: play-area;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent ;
}

section.board{
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(10, 4vmin);
  grid-template-columns: repeat(10, 4vmin);
  border: 2px solid black;
}

section.ship-board{
  margin-right: 10px;
}

section.shot-board{
  margin-left: 10px;
}

section.ship-bank{
  color: black;
  grid-area: ship-bank;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

h1{
  grid-area: h1;
}
h2{
  grid-area: h2;
}
h3{
  grid-area: h3;
}

.button{
  margin: 2vw;
}

section#left-buttons{
  grid-area: leftbuttons;
  
}

section#middle-buttons{
  grid-area: midbuttons;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  
}
section#right-buttons{
  grid-area: rgtbuttons;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 7vmin;
}

section#bank-box-h{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 22vw;
  height: 50vw;
  border-radius: 5px;
  border: 5px solid grey;
}

section#bank-box-v{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 30% 60%;
  grid-template-areas: 
  "pt pt"
  "sub cru"
  "bat car";
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 22vw;
  height: 50vw;
  padding: 10px;
  border-radius: 5px;
  border: 5px solid grey;
}

.square {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  color: ivory;
}

#pt-h, #sub-h, #cru-h, #bat-h, #car-h{
  background-color: darkgray;
  height: 3vmin;
  margin: 2vmin 4px 2vmin 4px;
}
#pt-h{
  width: 8vmin;
  border-radius: 25%;
}

#sub-h{
  width: 12vmin;
  border-radius: 35%;
}

#cru-h{
  width: 12vmin;
  border-radius: 25%;
}

#bat-h{
  width: 16vmin;
  border-radius: 35%;
}

#car-h{
  width: 20vmin;
  border-radius: 20%;
}

#ptv, #subv, #cruv, #batv, #carv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#ptv{
  grid-area: pt;
}
#subv{
  grid-area: sub;
}
#cruv{
  grid-area: cru;
}
#batv{
  grid-area: bat;
}
#carv{
  grid-area: car;
}

#pt-v, #sub-v, #cru-v, #bat-v, #car-v{
  font-size: 1.5vmin;
  background-color: darkgray;
  width: 3vmin;
  margin: 1vmin;
}
#pt-v{
  height: 8vmin;
  border-radius: 25%;
}

#sub-v{
  height: 12vmin;
  border-radius: 35%;
}

#cru-v{
  height: 12vmin;
  border-radius: 25%;
}

#bat-v{
  height: 16vmin;
  border-radius: 35%;
}

#car-v{
  height: 20vmin;
  border-radius: 20%;
}

.highlight{
  border: 4px solid red;
}